.block, .rigth-screen, .type__header, .site {
  box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #ffffff; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../images/bgimg.png); }

.header__logo {
  padding-top: 40px;
  align-self: start; }

h1 {
  font-size: 72px;
  font-weight: 900;
  color: #7358fb; }

.btn {
  border-radius: 30.5px;
  background-image: linear-gradient(to right, #7358fb, #bf7de7 100%);
  font-size: 19px;
  font-weight: 900;
  color: #ffffff;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: all .3s;
  letter-spacing: 1.14px; }
  .btn:hover {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  .btn--test {
    padding: 22px 78px; }

.screen {
  font-size: 50px;
  display: flex;
  max-width: 1170px;
  margin: 40px auto;
  height: calc(100vh - 80px);
  width: 100%; }

.block {
  padding: 40px 100px;
  background-image: url(../images/downimg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 30px;
  padding: 60px 0; }

.container {
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

.left-screen {
  padding: 0 100px;
  width: calc(100% - 400px); }
  .left-screen__text {
    font-size: 24px;
    font-weight: 500; }
  .left-screen__btn {
    margin-top: 40px;
    padding: 22px 50px; }
  .left-screen__phone {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    padding: 20px; }
  .left-screen__input {
    width: 300px;
    height: 60px;
    border-radius: 30.5px;
    border: solid 1px #dcdcdc;
    font-size: 21px;
    font-weight: 400;
    padding-left: 10px;
    outline: none;
    transition: all .3s;
    margin-right: 5px; }
    .left-screen__input:hover, .left-screen__input:focus {
      background-color: rgba(115, 88, 251, 0.2); }

.error {
  background-color: #d59fbf; }

.sent {
  background-color: #dcdcdc; }

.rigth-screen {
  width: 370px;
  text-align: center;
  background-image: url(../images/right.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  .rigth-screen__btn {
    font-size: 31px;
    font-weight: normal;
    padding: 40px 0;
    width: 100%;
    background-color: #a971ed;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all .3s; }
    .rigth-screen__btn:hover {
      border-radius: 50px;
      background-color: #7358fb; }
  .rigth-screen__name {
    font-size: 29px;
    color: #333333;
    position: relative;
    display: inline-block;
    padding-bottom: 20px; }
    .rigth-screen__name::after {
      position: absolute;
      content: " ";
      width: 286px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      height: 1px;
      background-color: #d2d2d2; }
  .rigth-screen__text {
    font-size: 35px;
    color: #909090;
    letter-spacing: 3.5px;
    padding: 55px 0; }
  .rigth-screen:hover .circle {
    animation: rotate 3s linear infinite; }

.photo {
  border-radius: 50%;
  border: solid 3px #7559fa;
  width: 230px;
  height: 230px;
  margin: 50px auto;
  padding: 30px;
  position: relative; }
  .photo__inner {
    background-color: #909090;
    border-radius: 50%;
    background-image: url(../images/man.png);
    background-size: cover;
    height: 100%; }

.circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-image: linear-gradient(30deg, #d59fbf 0%, #f3d6aa);
  position: absolute;
  bottom: 6%;
  right: 6%;
  transition: all .3s;
  transform-origin: center; }

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes rotate {
  0% {
    transform: translate(-80px, -80px) rotate(0deg) translate(80 px, 80px); }
  13% {
    transform: translate(-80px, -80px) rotate(45deg) translate(80px, 80px); }
  25% {
    transform: translate(-80px, -80px) rotate(90deg) translate(80px, 80px); }
  38% {
    transform: translate(-80px, -80px) rotate(135deg) translate(80px, 80px); }
  50% {
    transform: translate(-80px, -80px) rotate(180deg) translate(80px, 80px); }
  63% {
    transform: translate(-80px, -80px) rotate(225deg) translate(80px, 80px); }
  75% {
    transform: translate(-80px, -80px) rotate(270deg) translate(80px, 80px); }
  88% {
    transform: translate(-80px, -80px) rotate(315deg) translate(80px, 80px); }
  100% {
    transform: translate(-80px, -80px) rotate(360deg) translate(80px, 80px); } }

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.type {
  margin-right: 30px;
  width: 770px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .type__header {
    padding: 0 100px 50px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .type__text {
    font-size: 42.5px;
    font-weight: normal;
    color: #333333; }
  .type__sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }

.site {
  width: 370px;
  height: 206px;
  background-image: url(../images/iconbg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  margin: 30px 30px 0 0;
  opacity: .7;
  transition: all .3s ease-in; }
  .site:nth-child(even) {
    margin-right: 0; }
  .site__icon {
    fill: url(#linear-gradient);
    stroke: url(#linear-gradient);
    transition: all 1.5s;
    height: 86px;
    width: 86px;
    margin: 30px;
    transition: all .2s ease-in; }
  .site__name {
    font-size: 19px;
    font-weight: bold;
    color: rgba(119, 89, 250, 0.7);
    text-transform: uppercase;
    margin-right: 20px; }
  .site:hover {
    opacity: 1; }
  .site:hover .site__icon {
    fill: url(#linear-gradient2);
    stroke: url(#linear-gradient2);
    transform: scale(1.1); }

html,
body {
  margin: 0;
  height: 100%; }

.wrapper {
  display: flex;
  width: 300vw;
  max-width: calc(1920px *3);
  max-height: 100%;
  overflow: hidden;
  height: 100%; }
  .wrapper::-webkit-scrollbar {
    width: 0; }

.active {
  color: #7358fb;
  font-weight: bold; }

.banner {
  position: fixed;
  top: 10px;
  left: 10px; }

.type {
  margin: 0 auto; }

@media only screen and (max-width: 1370px) {
  h1 {
    font-size: 56px;
    padding: 20px 0; }
  .screen {
    margin: 20px auto;
    height: calc(100vh - 40px); }
  .container {
    height: 100%;
    padding-bottom: 150px; }
  .rigth-screen__btn {
    padding: 20px 0;
    font-size: 24px; }
  .rigth-screen__text {
    padding: 10px;
    background-color: white; }
  .photo {
    margin: 10px auto; }
  .type {
    width: 770px;
    height: 100%; }
    .type__sites {
      height: 100%; }
    .type__text {
      font-size: 32px; }
    .type__header {
      padding-bottom: 0; }
    .type .header__logo {
      padding-top: 20px; }
  .site {
    width: calc(50% - 5px);
    height: calc((100% - 30px)/3);
    margin: 10px 10px 0 0; }
    .site:nth-child(even) {
      margin-right: 0; }
  .btn {
    border: 2px solid white; } }

@media only screen and (max-width: 1170px) {
  .type {
    width: calc(100vw - 330px);
    height: 100%; }
  .rigth-screen {
    width: 300px; }
  .left-screen {
    width: calc(100vw - 330px); }
  h1 {
    font-size: 46px; } }

@media only screen and (max-width: 991px) and (min-width: 769px) {
  .left-screen {
    padding: 0 40px; }
  .type {
    width: calc(100vw - 330px); }
    .type__header {
      padding: 20px; }
  .site {
    background-image: none;
    justify-content: space-around; }
    .site__icon {
      margin: 10px;
      width: 48px;
      height: 48px; }
    .site__name {
      margin-right: 20px; }
  h1 {
    font-size: 36px; } }

@media only screen and (max-width: 768px) {
  .screen {
    margin: 20px 0; }
  .rigth-screen {
    display: none; }
  .btn {
    border: 2px solid white; }
  .left-screen {
    width: 100vw;
    margin-right: 0; }
  .type {
    width: 100vw;
    margin-right: 0; }
    .type__header {
      padding: 20px; }
  h1 {
    font-size: 36px; } }

@media only screen and (max-width: 576px) {
  .left-screen {
    padding: 0 20px; }
    .left-screen__text {
      font-size: 20px; }
  h1 {
    font-size: 36px; }
  .header__logo {
    padding-top: 0px; }
  .site {
    background-image: none;
    justify-content: space-around; }
    .site__icon {
      margin: 20px;
      height: 56px;
      width: 56px; }
    .site__name {
      margin-right: 20px;
      font-size: 16px;
      font-weight: normal; }
  .type {
    margin: 0; }
    .type__sites {
      height: 100%; }
    .type__text {
      padding: 10px 0 0 0;
      font-size: 20px; } }

@media only screen and (max-width: 400px) {
  .site {
    text-align: center;
    flex-wrap: wrap; }
    .site__icon {
      margin: 10px; }
    .site__name {
      margin: 0 auto; } }
